<h1>Roteiro criado</h1>
<p>
  <%= link_to "Ver outras atrações", city_places_path(@plan.place.city), class: 'btn btn-outline-primary' %>
  <%= link_to "Ver roteiro", trip_path(@trip), class: 'btn btn-outline-primary' %>
</p>
