<h1>Roteiro criado</h1>
<p>
  <%= link_to "Ver outras atrações" country_city_places_path(@place.city.country, @place.city), class: 'btn btn-outline-primary' %>
  <%= link_to "Ver roteiro", trip_path(@trip), class: 'btn btn-outline-primary' %>
</p>
