<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="d-flex">
        <% @countries.each do |country| %>
            <article class="cardcountry m-4">
              <%= cl_image_tag country.photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "Photo" %>
              <div class="cardcountry__content | flow">
                <div class="cardcountry__content--container | flow">
                  <h2 class="cardcountry__title"><%= country.name %></h2>
                  <p class="cardcountry__description"><%= country.description %></p>
                </div>
                <button class="cardcountry__button">Read more</button>
              </div>
            </article>
        <% end %>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
