<%# <body style="background-image: url('https://www.jagvimal.com/story/wp-content/uploads/2022/12/travel-background-with-toy-plane-map-scaled.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;"> %>


<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marinhoturismobuzios.com.br/wp-content/uploads/2018/10/viagem-internacional-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 500px; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
    <div style="background-color: rgba(255, 255, 255, 0.7); padding: 20px 20px; border-radius: 10px; max-width: 90%;">
        <h1 style="color: #161D6F; font-size: 3.0em; line-height: 1.2em; margin-bottom: 20px;"><strong>Easy Travel</strong> – Viajar pelo Mundo nunca foi tão fácil!</h1>
        <h2 style="color: #161D6F; font-size: 2.5em;">Seu roteiro pronto em alguns cliques!</h2>
        <%= link_to countries_path, class: "m-3 btn btn-outline-dark rounded-pill btn-lg mx-3" do %>
          <i class="fa-solid fa-location-dot"></i> Explore Destinos
        <% end %>
    </div>
</div>

<div class="container" style="margin-top: 40px;">
  <h1 style="color: #161D6F;"><strong>Easy Travel</strong></h1>
  <p style="text-align: justify; font-size: 1.5em; margin-top: 15px;">
    Este é o site ideal para quem deseja explorar o mundo de maneira prática e personalizada. Nossa plataforma ajuda você a criar roteiros de viagem sob medida, levando em conta suas preferências e interesses. Com apenas alguns cliques, você pode planejar itinerários únicos que combinam pontos turísticos, restaurantes, hotéis e atividades imperdíveis, tudo pensado especialmente para você.<strong> Com Easy Travel, sua próxima aventura começa fácil, rápida e do seu jeito!</strong>
  </p>
</div>

<hr>

<h2 class="text-center mt-5", style="color: #161D6F; font-size: 2.5em; font-family: 'Arial', sans-serif;"><strong>Destinos mais pesquisados</strong></h2>

<div class="m-5">

  <%= render 'pages/cardcountry',  country: @countries %>
</div>


<%# Código do FOOTER %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Easy Co. 2024
  </div>
</div>

<%# </body> %>
