<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://marinhoturismobuzios.com.br/wp-content/uploads/2018/10/viagem-internacional-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 500px; display: flex; justify-content: flex-start; align-items: center; flex-direction: column; text-align: center; padding-top: 30px;">
    <div style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 10px;">
        <h1 style="color: #161D6F;"><em><strong>Easy Travel</strong></em> – Viajar e conhecer o Mundo nunca foi tão fácil!</h1>
        <h2 style="color: #161D6F;">Seu roteiro pronto em alguns cliques!</h2>
    </div>
</div>


<div class="container">
  <h1 style="color: #161D6F;"><em><strong>Easy Travel</strong></em></h1>
    <p style="text-align: justify;">
      Easy Travel é o site ideal para quem deseja explorar o mundo de maneira prática e personalizada. Nossa plataforma ajuda você a criar roteiros de viagem sob medida, levando em conta suas preferências e interesses. Com apenas alguns cliques, você pode planejar itinerários únicos que combinam pontos turísticos, restaurantes, hotéis e atividades imperdíveis, tudo pensado especialmente para você. No Easy Travel, sua próxima aventura começa fácil, rápida e do seu jeito!
    </p>

   <p>Find me in app/views/pages/home.html.erb</p>

  <%= link_to "Lista de cidades", cities_path, class: "btn btn-outline-secondary" %>
</div>

<%= link_to "Lista de países", countries_path, class: "btn btn-primary" %>
<%= link_to "Lista dos seus roteiros", trips_path, class: "btn btn-primary" %>
<%= link_to "Criar novo roteiro", new_trip_path, class: "btn btn-primary" %>


<%# Código do CARD COUNTRY %>
<%# <article class="cardcountry">
  <img
    class="cardcountry__background"
    src="http://www.w3.org/2000/svg"
    alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
    width="1920"
    height="2193"
  />
  <div class="cardcountry__content | flow">
    <div class="cardcountry__content--container | flow">
      <h2 class="cardcountry__title">Colombia</h2>
      <p class="cardcountry__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
        labore laudantium deserunt fugiat numquam.
      </p>
    </div>
    <button class="cardcountry__button">Read more</button>
  </div>
</article> %>

<article class="cardcountry">
  <img
    class="cardcountry__background"
    src="https://i.imgur.com/QYWAcXk.jpeg"
    alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
    width="1920"
    height="2193"
  />
  <div class="cardcountry__content | flow">
    <div class="cardcountry__content--container | flow">
      <h2 class="cardcountry__title">Colombia</h2>
      <p class="cardcountry__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
        labore laudantium deserunt fugiat numquam.
      </p>
    </div>
    <button class="cardcountry__button">Read more</button>
  </div>
</article>

<%# Código do FOOTER %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Easy Co. 2024
  </div>
</div>
