<div class="mt-4">
  <h1>Lista de países</h1>

  <ul>
    <% @countries.each do |country| %>
      <li><%= link_to country.name, country_cities_path(country) %></li>
    <% end %>
  </ul>

  <%= link_to "Home Page", root_path, class: "btn btn-outline-secondary" %>
</div>
