.cardtrip {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  background-image: url('https://static.wixstatic.com/media/797e06_e43ce0d4729b4dcfaf781fc34ec7c945~mv2.jpg/v1/fill/w_640,h_652,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/797e06_e43ce0d4729b4dcfaf781fc34ec7c945~mv2.jpg');
  background-size: cover;
  background-position: center;
}

.cardtrip svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardtrip:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cardtrip__content {
  position: absolute;
  transform: translate(0, 0); /* Remove o translate para evitar o deslocamento central */
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  flex-direction: column; /* Mantém os elementos empilhados verticalmente */
  justify-content: flex-start; /* Alinha o conteúdo ao topo */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.cardtrip:hover .cardtrip__content {
  transform: translate(0, 0); /* Remove o rotate */
  opacity: 1;
}

.cardtrip__title {
  margin: 0;
  font-size: 30px;
  color: #333;
  font-weight: 700;
  text-align: left; /* Alinha o texto à esquerda */
}

.cardtrip__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: #777;
  line-height: 1.4;
  text-align: left; /* Alinha o texto à esquerda */
}

.cardtrip:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

.nameattraction{
  color: #303032;
}
