.footer {
  background-color:#292942;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #62B5E6;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #62B5E6;
  opacity: 0.70;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
