.navbar-lewagon {
  justify-content: space-between;
  background: #292942;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #f9f5f5;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.written-logo {
  color: #f9f5f5;
  font-size: 36px;
  text-shadow: 2px 2px 10px #0a0e0b;
}

.navbar-newgreen {
  background-color: #292942;
}

.navbar-margin {
  margin-top: 80px;
}

.nav-link {
  color: #f9f5f5;
}

.nav-link:hover {
color: $primary;
}

.written-logo {
  font-family: Pacifico;
  color: #ffff;
  font-size: 36px;
  text-shadow: 2px 2px 10px $light-blue;
}

.nav-padding {
  margin-top: 80px;
}
