.navbar-lewagon {
  justify-content: space-between;
  background: #98DED9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.written-logo {
  font-family: Pacifico;
  color: #ffff;
  font-size: 36px;
  text-shadow: 2px 2px 10px #547b5b;
}

.navbar-newgreen {
  background-color: #98DED9;
}

.navbar-margin {
  margin-top: 80px;
}
