<div class="mt-4">
  <h1>Lista de cidades</h1>

  <ul>
    <% @cities.each do |city| %>
      <li><%= link_to city.name, country_city_places_path(city.country, city) %></li>
    <% end %>
  </ul>

  <%= link_to "Voltar para países", countries_path, class: "btn btn-outline-secondary" %>
</div>
