<h1>Attraction added to itinerary- </h1>
<p>
  <%= link_to "Back to attractions", country_city_places_path(@place.city.country, @place.city), class: 'btn btn-primary mb-3', style: 'padding: 10px 20px; border-radius: 25px;' %>
   <%= link_to "See itinerary", trip_path(@plan.trip_id), class: 'btn btn-primary mb-3', style: 'padding: 10px 20px; border-radius: 25px;' %>
</p>
