<div class="mt-4">
  <h1>Attrações</h1>

  <div class="row justify-content-start">
    <% @places.each do |place| %>
      <div class="col-3">
        <ul>
            <div class="card" style="width: 18rem;">
              <img src="https://picsum.photos/seed/picsum/300/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= place.name %></h5>
                  <p class="card-text"><%= place.description %></p>
                  <%= link_to 'Saiba mais', place_path(place), class: "btn btn-primary" %>
                </div>
            </div>
        </ul>
      </div>
    <% end %>
  </div>
</div>

  <%= link_to "Home Page", root_path, class: "btn btn-outline-secondary" %>
