<div class="card">
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"></svg>
  <h3 class="nameattraction">Nome da atração</h3>
  <div class="card__content">
    <p class="card__title">Card Attractions
    </p><p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
