<article class="cardcountry">
  <img
    class="cardcountry__background"
    src="https://i.imgur.com/QYWAcXk.jpeg"
    alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
    width="1920"
    height="2193"
  />
  <div class="cardcountry__content | flow">
    <div class="cardcountry__content--container | flow">
      <h2 class="cardcountry__title">Colombia</h2>
      <p class="cardcountry__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
        labore laudantium deserunt fugiat numquam.
      </p>
    </div>
    <button class="cardcountry__button">Read more</button>
  </div>
</article>

