<div class="cardcities">
  <div class="content">
    <svg
      fill="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >

    </svg>
    <h3 class=namecity>NOME DA CIDADE</h3>
    <div class="cardcities__content | flow">
     <p class="para">
        CARD CITIES
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam
       at voluptas minus culpa deserunt delectus sapiente inventore pariatur
     </p>
    </div>
   </div>
  </div>
